.App {
  text-align: center;  
  width: 60%;
  margin: 0 auto;
}
.Search {
  opacity: 0.9;
  border-radius: 8px;
  background-color: white;
}
.Search-box {
  color: #199AD6;
  margin-top: 10%;
  padding: 0.5% 2% 2% 2%;
}
.Search-results {
  margin-top: 5%;
  overflow: scroll;
  margin-bottom: 5%;
}