.Recipe-description {
    padding: 1% 4%;
}
.Recipe-info {
    text-align: center;
    padding: 0% 2%;
}
.Recipe-info h3 {
    font-size: 1em;
}
.Recipe-instructions {
    padding: 0% 4% 3% 4%;
    text-align: justify;
}
.img {
    width: 300px;
}
